<h1>Simple Form</h1>
<div class="container">
<form [formGroup]="simpleForm " >
  <!-- UserName -->
  <div class="form-group mt-2 p-2">
    <input class="form-control" type="text" name="userName"
    formControlName="userName" placeholder="Enter Name"
  >
  </div>
  <!-- err messg for username -->
  <small class="text-danger" *ngIf="!sfc.userName.touched && !sfc.userName.valid">*Name Required</small>
<!-- Email -->
  <div class="form-group mt-2 p-2">
    <input class="form-control" type="email" name="usereMail" formControlName="userEmail" placeholder="Enter Email" >
  </div>
<!-- err msg Useremail -->
<small class="text-danger" *ngIf="!sfc.userDob.touched && !sfc.userEmail.valid">*Enter Valid Email</small>
<!-- DOB -->
  <div class="form-group mt-2 p-2">
    <input class="form-control" type="date" name="userDob" formControlName="userDob" >
  </div>
  <!-- err msg for dob -->
  <small class="text-danger" *ngIf="!sfc.userDob.touched && !sfc.userDob.valid">*DOB Required</small>
<!-- Gender-> Male -->
  <div class="custom-control custom-radio mt-2 p-2">
    <input id="male" type="radio" class="custom-control-input" value="male" name="userGender" formControlName="userGender" >
    <label class="custom-control-label" for="male">Male</label>
  </div>
<!-- gender -> Female -->
  <div class="custom-control custom-radio mt-2 p-2">
    <input id="female" type="radio" class="custom-control-input" value="female" name="userGender" formControlName="userGender" >
    <label class="custom-control-label" for="female">Female</label>
  </div>
  <!-- err msg for Gender -->
  <small class="text-danger" *ngIf="!sfc.userGender.touched && !sfc.userGender.valid ">* Required</small>
<br >
  <button class="btn btn-primary mt-3 p-2" (click)="onsubmit()"
          [disabled]="!sfc.userName.valid && !sfc.userEmail.valid && !sfc.userDob.valid && !sfc.userGender.valid"
          >Submit</button>

</form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserName`</th>
      <th scope="col">UserEmail</th>
      <th scope="col">DOB</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-blue" *ngFor="let fd of formData;" >
      <!-- <th scope="col">{{i + 1}}</th> -->
      <td scope="row">{{fd.id}}</td>
      <td scope="row">{{fd.userName}}</td>
      <td scope="row">{{fd.userEmail}}</td>
      <td scope="row">{{fd.userDob}}</td>
      <td scope="row">{{fd.userGender}}</td>
    </tr>
  </tbody>
</table>
{{formData}}
